{% extends "layout.html" %}
{% block content %}
    <p>This tool is meant for learning purpose only, Its aim is to provide GUIf for docker api's for creating/accessing/monitoring docker containers and eventually move to docker swarm or kubernetes, There's a backend service to which this GUI talks to for getting all the container details. You can use this GUI or directly talk to the backend service.</p>
    <p>
    <h1>
    <p>Contact Persons:</p>
    <p><h2>Luv Rai</h2></p>
	<p><h2>Prantar Bora</h2></p>
{% endblock content %}
