<script>
    function flashMessage(data) {
    html = '';
    for (i=0; i<data.length; i++) {
        html += '<div class="alert alert-' + data[i]['type'] + '"><a href="#" class="close" data-dismiss="alert">&times;</a>' + data[i].message + '</div>';
    }
    return html;
    }
</script>


<script>

    function get_exited() {
        var docker_exited = new Array();
        var data = new Array();
        var response_status = new Array();
        $("input:checked").each(function() {
            data.push($(this).val());
            });
        var selected_containers = data.toString();
        console.log("start");
        $.ajax({
        type: "POST",
        url: "/delete_container/"+selected_containers,
        data:"hhh",
        dataType:'text',
        beforeSend:function(){
         return confirm("Are you sure?");
        },
        success: function(data){
            console.log("success")
            //$("#ttt").html(data);
            //var $bodyContent = $('#t01 tbody').children();
            response = $.parseJSON(data);
            console.log(response);
            var $table = $('#t01');
            $('#t01 tr').not(function(){ return !!$(this).has('th').length; }).remove();
                $.each(response.table, function(i, item) {
                var $tr = $('<tr>').append(
                $('<td>').text(item.name),
                $('<td>').text(item.container_id),
                $('<td>').text(item.image),
                $('<td>').text(item.status),
                $('<td>').html('<input type="checkbox" name="docker_exited[]" id="docker_exited" value="'+item.container_id+'">')
                ).appendTo('#t01');
                //console.log($tr.wrap('<p>').html());
                });

            //$("#ttt").html(row);
            //$table.find('tbody').empty().append(row);
            $table.trigger('reflow');
            if (response.success){
                response_status.push('[{"type": "success", "message": "Successfully deleted containers"}]');
                }
            else{
                response_status.push('[{"type": "danger", "message": "Ooops! an error occurred"}]');
                }
            $('#flash').append(flashMessage(JSON.parse(response_status)));
        }});}

</script>

{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"></a>
            </div>
            <p class="article-content">{{ user.username }}</p>
            <p class="article-content">{{ text }}</p>
          </div>
        </article>
        <p> Exited Container Details</p>
            <table id="t01" table-layout: fixed; box-sizing: border-box>
            <tr>
              <th>Container Name</th>
              <th>Container ID</th> 
              <th>Container Image</th>
              <th>Container Status</th>
              <th>Action</th>
            </tr>
            <tbody>
            {% for row in table %}
              <tr>
                <td>{{row['name']}}</td>
                <td>{{row['container_id']}}</td>
                <td>{{row['image']}}</td>
                <td>{{row['status']}}</td>
                <td><input type="checkbox" name="docker_exited[]" id="docker_exited" value="{{row['container_id']}}"></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <input class="btn btn-outline-info" id="submit" type="submit" name="submit" value="Delete Container" onclick="get_exited()" />
        <div id="flash"></div>

{% endblock content %}
