{% extends "layout.html" %}
{% block content %}
<script src="{{url_for('static', filename='awesome_js.js')}}" type="text/javascript">
</script>
        <p> Exited Container Details</p>
            <table id="t01" table-layout: fixed; box-sizing: border-box>
            <tr>
              <th>Container Name</th>
              <th>Container ID</th> 
              <th>Container Image</th>
              <th>Container Status</th>
              <th>Created On</th>
              <th>Action</th>
            </tr>
            <tbody>
            {% for row in table %}
              <tr>
                <td>{{row['name']}}</td>
                <td>{{row['container_id']}}</td>
                <td>{{row['image']}}</td>
                <td>{{row['status']}}</td>
                <td>{{row['date']}}</td>
                <td><input type="checkbox" name="docker_exited[]" id="docker_exited" value="{{row['container_id']}}"></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        <input class="btn btn-outline-info" id="submit" type="submit" name="submit" value="Delete Container" onclick="get_exited()" />
        <div id="flash"></div>
        <div class="collapse loader" id="loader">
        </div>
{% endblock content %}
