{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"></a>
            </div>
            <p class="article-content">{{ user.username }}</p>
			<p class="article-content"><h1>{{ text }}</h1></p>
          </div>
        </article>
{% endblock content %}
