<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="{{url_for('static', filename='jquery-3.3.1.js')}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Awesome Cloud</a>
          <button class="navbar-toggler" Ourt="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            	{% if current_user.is_authenticated %}
            		<a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
            		<a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            	{% else %}
            		<a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
            	{% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <div class="btn-group" id="container_menu">
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            Menu
                        </a>
                        <div class="dropdown-menu action-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('docker.launch_container') }}">Launch</a>
                            <a class="dropdown-item" href="{{ url_for('docker.exited_container') }}">Exited Container</a>
                        </div>
                    </a>
                </div>
                <div class="btn-group" id="account_menu">
                    <a class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-account" href="#" id="navprofileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                            <i><img class="rounded-circle login-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}"></i>
                        </a>

                        <div class="dropdown-menu action-menu" aria-labelledby="navprofileDropdown">
                            <a class="dropdown-item" href="{{ url_for('users.account') }}">Profile</a>
                            <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                        </div>
                    </a>
                </div>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        </div>
      </div>
    </main>


</body>
</html>
<script src="{{url_for('static', filename='awesome_readyjs.js')}}" type="text/javascript"></script>